:root {
  // Colors
  --primary-color: #FFFFFF;
  --secondary-color: #000000;
  --tertiary-color: #F2F5FF;

  --blues-blue: #0A3DFA;

  --black-20: rgba(0, 0, 0, 0.2);
  --black-30: rgba(0, 0, 0, 0.3);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-50: rgba(0, 0, 0, 0.5);

  // Font Sizes
  --font-size-sm: 0.875rem;
  --font-size-base: 1.25rem;
  --font-size-md: 1.375rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-2xl: 2.25rem;
  --font-size-3xl: 2.75rem;

  // Font weights
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  // Spacing & Dimensions
  --space-0: 0.0625rem; // 1px

  @for $i from 1 through 40 {
    $increment: 0.25rem;
    $value: $i * $increment;
    --space-#{$i}: #{$value};
  }
}
