@use 'defaults';
@use 'theme';

// TODO: Should we just keep the h1-h3 in uppercase, since that is mostly used
h1 {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-semibold);
}

h2 {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-semibold);
}

h3 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  line-height: 1.25;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

.glass {
  width: 100%;
  height: 100%;
  box-shadow: 0 var(--space-1) var(--space-7) 0 var(--black-20);
  background-color: var(--black-50);
  backdrop-filter: blur(5px);
}

.glass-noblur {
  @extend .glass;
  backdrop-filter: blur(0);
}

// Support multiple truncate lengths
@for $j from 1 through 10 {
  .truncate-lines-#{$j} {
    display: -webkit-box;
    -webkit-line-clamp: #{$j};
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
  }
}

.hide-element {
  display: none;
}

/**
 * Animations
 */
@keyframes scaling {

  0%,
  100% {
    transform: scale(0.2);
    background-color: var(--background-color);
  }

  50% {
    transform: scale(1);
    background-color: var(--text-color);
  }
}
